<link rel="stylesheet" href="/styles/header.css">

<div class="sidebar d-flex flex-column flex-shrink-0">
  <ul class="nav nav-pills nav-flush flex-column text-center" id="sidebar-nav-menu">
    <li class="nav-item">
      <a
        href="/home"
        class="nav-link"
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        title="Home"
      >
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
          <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z"/>
        </svg>
      </a>
    </li>
    <li class="nav-item">
      <a
        href="/add"
        class="nav-link"
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        title="Create Project"
      >
        <!-- REPLACED: img with inline SVG for better styling -->
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
          <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"/>
        </svg>
      </a>
    </li>
    <li class="nav-item">
      <a href="/chat" class="nav-link">
        <i class="bi bi-chat-dots"></i>
      </a>
    </li>
  </ul>

  <div class="dropup border-top mt-auto">
    <a
      href="#"
      class="d-flex align-items-center justify-content-center p-3 text-decoration-none dropdown-toggle"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <img
        src="<%= currentUser.user_image_url %>"
        alt="User profile picture"
        width="32"
        height="32"
        class="rounded-circle"
      />
    </a>
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
      <li><h6 class="dropdown-header">Signed in as <%= currentUser.username %></h6></li>
      <li><hr class="dropdown-divider" /></li>
      <li><a class="dropdown-item" href="/logout">Sign out</a></li>
    </ul>
  </div>
</div>
<script src="/js/main.js"></script>