<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Funnel+Display:wght@300..800&family=Sevillana&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Funnel+Display:wght@300..800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/styles/main.css">

</head>
<body>
    <div class="container">
        <h1>Welcome To <span>The Adventure</span></h1>
        <h3>"Adventure is a dynamic and accessible blogging platform that allows individuals to document 
            and share their life journeys with a global audience of millions. Through this website, 
            users can express their unique experiences, thoughts, and adventures, connecting with 
            like-minded people from all corners of the world. Whether you're sharing stories from your travels, 
            insights from personal growth, or everyday moments of inspiration, Adventure provides 
            the perfect space to showcase your narrative and engage with a diverse community enthusiastically 
            eager to explore new perspectives together."</h3>
        <form action="/home">
            <button type="submit">Start!</button>
        </form>
    </div>
</body>
</html>