* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Baloo Bhaijaan 2", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #f0f2f5;
  color: #1c1e21;
}

.app-layout {
  display: flex;
}

.main-content {
  height: 100vh; /* Takes up the full viewport height */
  overflow-y: auto; /* Makes ONLY this section scrollable, not the whole page */
  padding: 2rem; /* Adds some space around the content inside */
}

.projects-container {
  max-width: 100%; /* A max-width for readability on large screens */
  margin: 0 auto; /* Centers the container within the main-content section */
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
}

ul {
  list-style-type: none;
}

.projects-container li {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.projects-container a {
  text-decoration: none;
  color: #0d1117;
}

li:hover {
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.project-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}
.project-item {
  padding: 1.5rem 2rem; /* More horizontal padding */
  border-bottom: 1px solid #e9ecef;
}

.project-item:last-child {
  border-bottom: none;
}

h3 {
  margin-bottom: 0.5rem;
  color: #0d1117;
}

p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

